<footer class="py-10 px-8 md:px-16 mt-40 bg-black text-white">
    <div class="flex  justify-between">
        <a class="font-semibold" href="/">Sofyan Hidayat <br>Budiyono</a>
        <div class="flex items-start gap-x-4 md:gap-x-16 text-sm md:text-base">
            <a href="#top" class="flex gap-x-2 invisible md:visible">
                <img class="h-6 w-6" src="/img/arrow-up.svg" alt="arrow-up">
                <p class="" >Back to top</p>
            </a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="py-6 flex justify-between items-end">
        <p class="text-xs">Made with ❤️</p>
        <div class="flex space-x-[8px] md:space-x-[24px] ">
            <a href="https://www.twitter.com/biasabercanda" target="_blank"><img src="/img/twitter.svg" alt=""></a>
            <a href="https://www.instagram.com/biasaabercanda" target="_blank"><img src="/img/instagram.svg" alt=""></a>
            <a href="https://www.dribbble.com/biasabercanda" target="_blank"><img src="/img/dribbble.svg" alt=""></a>
            <a href="https://www.github.com/biasabercanda" target="_blank"><img src="/img/github.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/budiyono-sofyanhidayat/" target="_blank"><img src="/img/linkedin.svg" alt=""></a>
            <a href="mailto:budiyono.sofyanhidayat@gmail.com" target="_blank"><img src="/img/mail.svg" alt=""></a>
        </div>
    </div>
    
</footer>