---
layout: base.html
title: About - Sofyan Hidayat
---
{% include "./_includes/header.html" %}

<div class="mx-auto inset-x-0 w-3/5 mt-[100px] space-y-[32px]">
    <p class="text-lg md:text-[30px] md:leading-[56px] ">My name is <span class="font-semibold"> Sofyan Hidayat Budiyono</span>, I'm in my 4th year as an undergraduate student in Information Technology at Gadjah Mada University.</p>
    <p class="text-sm md:text-base">Studying in information technology gave me a bit of knowledge about coding, development, machine learning, cloud computing, and data. That can help me along the way as a digital product designer. </p>

    <div class="pt-[32px] space-y-[20px]">
        <p class="font-semibold text-[24px]">Education</p>
        <div class=" space-y-[8px]">
            <p class="font-medium text-[20px] underline">Gadjah Mada University</p>
            <p class="text-[14px]">Information Technology</p>
            <p class="text-[14px]">2019 - now</p>
        </div>
    </div>

    <div class="pt-[32px] space-y-[20px]">
        <p class="font-semibold text-[24px]">Experience</p>
        <div class=" space-y-[8px]">
            <p class="font-medium text-[20px] underline">LTS Indonesia</p>
            <p class="text-[14px]">UX Designer Intern</p>
            <p class="text-[14px]">2022, 6 months</p>
        </div>
    </div>

</div>

{% include "./_includes/footer.html" %}