---
layout: base.html
title: Contact - Sofyan Hidayat
---
{% include "./_includes/header.html" %}

<div class="mx-auto inset-x-0 w-3/5 mt-[100px] space-y-[32px]">
    <p class="text-[30px] leading-[56px] ">Get in touch with me 😳</p>

    <div class="flex flex-col space-y-[20px] ">
        <a class="flex gap-3" href="https://www.twitter.com/biasabercanda" target="_blank"><img src="/img/twitter-black.svg" alt="">Twitter</a>
        <a class="flex gap-3" href="https://www.instagram.com/biasaabercanda" target="_blank"><img src="/img/instagram-black.svg" alt="">Instagram</a>
        <a class="flex gap-3" href="https://www.dribbble.com/biasabercanda" target="_blank"><img src="/img/dribbble-black.svg" alt="">Dribbble</a>
        <a class="flex gap-3" href="https://www.github.com/biasabercanda" target="_blank"><img src="/img/github-black.svg" alt="">Github</a>
        <a class="flex gap-3" href="https://www.linkedin.com/in/budiyono-sofyanhidayat/" target="_blank"><img src="/img/linkedin-black.svg" alt="">Linkedin</a>
        <a class="flex gap-3" href="mailto:budiyono.sofyanhidayat@gmail.com" target="_blank"><img src="/img/mail-black.svg" alt="">Email</a>
    </div>

</div>

{% include "./_includes/footer.html" %}