---
layout: base.html
title: Woops
---
{% include "./_includes/header.html" %}

<div class=" flex flex-col items-center justify-center mx-auto inset-x-0  w-3/5 mt-[32px] space-y-[32px]">
    <img class="mx-auto inset-x-0 w-1/3" src="/img/woops.svg" alt="">
    <p class="text-center ">Woops you are not supposed to be here yet!</p>

    <a href="/">
        <button class="bg-black self-center mx-auto inset-x-0 text-white font-bold py-2 px-4 rounded transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
            Go back 
        </button>
    </a>
    
</div>

{% include "./_includes/footer.html" %}